</fieldset>
<fieldset class="box tabular">
  <legend><%=l :label_telegram_preferences %></legend>
  <% if RedmineTelegram::configured? %>
    <%= fields_for :pref, @user.pref do |pref_fields| %>
      <p>
        <label for="pref_telegram_enabled"><%= l :label_telegram_enabled %></label>
        <%= pref_fields.check_box :telegram_enabled %>
      </p>
      <p>
        <label for="pref_telegram_chat"><%= l :label_telegram_chat %></label>
        <span>
          <%= RedmineTelegram::chat_name @user %><br/>
          <a href="/telegram/attach/user"><%= l :link_telegram_chat_individual %></a><br/>
          <a href="/telegram/attach/group"><%= l :link_telegram_chat_group %></a><br/>
        </span>
      </p>
      <p>
        <label for="pref_telegram_skip_emails"><%= l :label_telegram_skip_emails %></label>
        <%= pref_fields.check_box :telegram_skip_emails %>
      </p>
    <% end %>
  <% else %>
    <p><%= l :info_configure_telegram %></p>
  <% end %>
